<article class="card -<%= cause_class %>">
  <div class="card__bar"></div>
  <div class="card__body">
    <div class="wrapper">
      <p class="card__cause"><%= primary_cause %></p>
      <h3 class="card__title"><%= title %></h3>
      <select>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <p class="card__meta">web | <%= hours %> | <%= action_type %></p>
    </div>
  </div>
</article>