<div class="schedule">
  <div id="january" class="month">
    <h2>January</h2>
  </div>
  <div id="february" class="month">
    <h2>February</h2>
  </div>
  <div id="march" class="month">
    <h2>March</h2>
  </div>
  <div id="april" class="month">
    <h2>April</h2>
  </div>
  <div id="may" class="month">
    <h2>May</h2>
  </div>
  <div id="june" class="month">
    <h2>June</h2>
  </div>
  <div id="july" class="month">
    <h2>July</h2>
  </div>
  <div id="august" class="month">
    <h2>August</h2>
  </div>
  <div id="september" class="month">
    <h2>September</h2>
  </div>
  <div id="october" class="month">
    <h2>October</h2>
  </div>
  <div id="november" class="month">
    <h2>November</h2>
  </div>
  <div id="december" class="month">
    <h2>December</h2>
  </div>
</div>