<div class="schedule">
  <div id="january" class="month">
    <h2 class="heading">January</h2>
  </div>
  <div id="february" class="month">
    <h2 class="heading">February</h2>
  </div>
  <div id="march" class="month">
    <h2 class="heading">March</h2>
  </div>
  <div id="april" class="month">
    <h2 class="heading">April</h2>
  </div>
  <div id="may" class="month">
    <h2 class="heading">May</h2>
  </div>
  <div id="june" class="month">
    <h2 class="heading">June</h2>
  </div>
  <div id="july" class="month">
    <h2 class="heading">July</h2>
  </div>
  <div id="august" class="month">
    <h2 class="heading">August</h2>
  </div>
  <div id="september" class="month">
    <h2 class="heading">September</h2>
  </div>
  <div id="october" class="month">
    <h2 class="heading">October</h2>
  </div>
  <div id="november" class="month">
    <h2 class="heading">November</h2>
  </div>
  <div id="december" class="month">
    <h2 class="heading">December</h2>
  </div>
</div>