// Proxima Nova
@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: neue-asset-url("../assets/fonts/proxima-nova/ProximaNova-Regular.eot");
  src: neue-asset-url("../assets/fonts/proxima-nova/ProximaNova-Regular.eot?") format("eot"),
       neue-asset-url("../assets/fonts/proxima-nova/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: neue-asset-url("../assets/fonts/proxima-nova/ProximaNova-SBold.eot");
  src: neue-asset-url("../assets/fonts/proxima-nova/ProximaNova-SBold.eot?") format("eot"),
       neue-asset-url("../assets/fonts/proxima-nova/ProximaNova-SBold.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: neue-asset-url("../assets/fonts/proxima-nova/ProximaNova-Bold.eot");
  src: neue-asset-url("../assets/fonts/proxima-nova/ProximaNova-Bold.eot?") format("eot"),
       neue-asset-url("../assets/fonts/proxima-nova/ProximaNova-Bold.woff") format("woff");
}
