// Cause Colors
$default-color: #e3e3e3;
$education: #e8440c;
$discrimination: #67204a;
$physical: #ffac0d;
$relationships: #ffccc3;
$environment: #b3cfba;
$poverty: #a1accb;
$homelessness: #1b96b0;
$bullying: #c5718b;
$animals: #336699;
$disasters: #b74c4c;
$violence: #a1accb;
$mental: #37c3e0;
$sex: #5cbe7f;
