@import "../../node_modules/susy/sass/susy";

// Normalize.css
@import "_reset";

@import "_fonts";

// Variables
@import "_variables";

// Modules
@import "_card";

.container.-main {
  @include container;
  background-color: white;
}

body {
  background-color: white;
}

hr {
  background-color: #E3E3E3;
  height: 8px;
  border: none;
}

h2 {
  font-size: 24px;
  font-family: "Proxima Nova";
  padding: 12px 0px;
}

#filter {
  @include span(15 nest);
  padding: 12px 0px;
}

section {
  clear: both;
}

.container {
  .-months {
    // @include span(12);
    overflow: scroll;
  }

  .-unscheduled {
    hr, h2 {
      @include span(15);
    }
  }
}

.month-wrapper {
  width: 3840px;
  @include clearfix;
}

.month {
  @include span(4 of 12 nest);
  // border-right: 3px solid #E3E3E3;
  // box-sizing: border-box;
  .card, h2 {
    @include span(3 of 4);
  }
}

// input[type="text"] {
//   display: block;
//   margin: 0;
//   width: 100%;
//   font-family: sans-serif;
//   font-size: 18px;
//   appearance: none;
//   box-shadow: none;
//   border-radius: none;
// }
// input[type="text"]:focus {
//   outline: none;
// }

#filter input[type="text"] {
  @include span(3);
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
// #filter input[type="text"]:focus,
// #filter input[type="text"].focus {
//   border: solid 1px #707070;
//   box-shadow: 0 0 5px 1px #969696;
// }

#filter select, #filter label {
  // @include span(3);
  padding: 10px;
}
